/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

/* Or if the above doesn't work, use: */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
